#home{
	width: 15%;
	height: 15%;
}
#btn-login{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
#user{
	color:#f3f5f7;
}
#user:hover{
	color:white;
}
#navbar{
	background-color: #295675af;
	position: fixed; /* Fija la barra de navegación en la parte superior */
  width: 100%; /* O el ancho deseado */
  z-index: 1000;
}
.relleno
	{
		margin-top: 10%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
		align-content: stretch;
	}
h5{
	display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
    color: #295675;
}
h1{
	display: flex;
  justify-content: center;
  align-items: center;
	margin-bottom:10%;
	font-family: 'Lato', sans-serif;
    color: #295675;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
#nombreAir{
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size:x-large;
	font-weight: bolder;
}
.btn-login{
	margin-right: 5%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	line-height: 1;
	text-decoration: none;
	color: #ffffff;
	border-radius: 0px;
	width: 150px;
	height: 40px;
	border: 2px solid #ffffff;
	transition: 0.3s;
	box-shadow: 5px 5px 0px 0px #ffffff;
	background-color: #ffffff00;
}
.btn-login:hover{
	box-shadow: 0 0 #333;
	color: #fff;
	background-color: #295675;
}
#opciones{
	background-color: #29577573;
	border: none;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight:bolder;
}

/* CAROUSEL */
#carouselExample{
	position: relative;
  z-index: 1;
}