#home{
	width: 20%;
	height: 20%;
}
#btn-login{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
#user{
	color:#f3f5f7;
}
#user:hover{
	color:white;
}
#navbar{
	background-color: #91d7f2af;
	position: fixed; /* Fija la barra de navegación en la parte superior */
  width: 100%; /* O el ancho deseado */
  z-index: 1000;
}
.relleno
	{
		margin-top: 10%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
		align-content: stretch;
	}
h5{
	display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
    color: #295675;
}
h1{
	display: flex;
  justify-content: center;
  align-items: center;
	margin-bottom:10%;
	font-family: 'Lato', sans-serif;
    color: #295675;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
#nombreAir{
	color: #254e69;
	font-family: 'Lato', sans-serif;
	font-size:x-large;
	font-weight: bolder;
}

#opciones{
	background-color: #91d7f200;
	border: none;
	color: #254e69;
	font-family: 'Lato', sans-serif;
	font-weight:bolder;
}

/* CAROUSEL */
#carouselExample{
	position: relative;
  z-index: 1;
}