body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#izquierda{
    /* border: 2px solid red; */
    width: 35%;
    height: 100%;
    background: linear-gradient(to top ,#91d7f2 20%, #568dd4 50%, #295675 90%);

}

#derecha{
    /* border: 2px solid blue; */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 7%;
    background-color: #f2f0eb;

}

#logo{
    width: 160px;
    position: fixed;
    right: 3%;
    top: 2%;
    opacity: 0.8;
}
#formularioRegistro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    z-index: 1;
}

.inputRegistro{
    height: 34px;
    width: 60%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1.2px solid #295675;
    background-color: #f2f0eb;
}

.inputRegistro:focus{
    outline: none;
    border: 2px solid #295675;
}


::placeholder{
    color:rgba(128, 128, 128, 0.589);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.botonRegistro{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(90deg, #91d7f2 0%, #295675 100%);
    padding: 10px 29px;
    border: solid #38b2ca 2px;
    box-shadow: rgb(0, 0, 0) 4px 9px 25px -10px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    z-index: 10;
    width: 16%;
    height: 15%;
    
}.botonRegistro:hover{
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background: linear-gradient(90deg, #91d7f2 0%, #5196a6 100%);
    color: #ffffff;
    border: solid 2px #0168a0;
}

h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #295675;
    margin-top: 7%;
}

#loginlink{
    position: absolute;
    top: 20%;
    left: 83%;
}

#contenedor{
    /* border: 2px solid green; */
    height: 40%;
}

#imagen{
    object-fit: cover;
    width: 100%;
    mix-blend-mode: lighten;
    pointer-events: none;
}

#texto{
    display: flex;
    flex-direction: column;
    width: 100%;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:#f2f0eb;
    margin-left: 7%;
    margin-top: 14%;
}

#nubes{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

#trineo{
    position: absolute;
    animation: trineoSanta 5s linear;
    display: block;
    top: -1000px;
    left: -1000px;
}

@keyframes trineoSanta{
    from {
        top: -1000px;
        left: -1000px;
    }
    to {
        top: 1000px;
        left: 1000px;
    }
}

#back{
    z-index:10;
    color: #295675;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    margin-left: 2%;
    margin-top: 5%
}
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');